.features {
    background-color: black;
    height: auto;

    .features__items {
        margin-top: 45px;
        margin-bottom: 30px;

        @media (min-width: 1200px) {
            padding-left: 160px;
        }
    }

    .features__item {
        padding-left: 30px;

        @media (min-width: 1200px) {
            padding: 0;
        }

        img {
            width: 18px;
            height: 18px;
            margin-right: 15px;
        }

        h2 {
            font-family: $josefin;
            color: white;
            font-size: 1em;
        }

        p {
            font-family: $poppins;
            color: $grey;
            font-size: 0.95em;
        }
    }

    .features__social {
        background-color: $orange;
        min-height: 100px;

        img {
            width: 30px;
        }
    }


}

video {
    width: 100%;
    height: auto;
    max-height: 100%
}

article {

    h3 {
        color: white;
        font-family: $josefin;
        font-size: 1.9em;

        span {
            color: $orange;

            &:before {
                content: "";
                background-image: url(../images/pizza_orange.png);
                background-size: 100% 100%;
                display: inline-block;
                height: 30px;
                width: 30px;
                position: relative;
            }
        }
    }

    p {
        color: $grey;
        font-family: $poppins;
    }
}