* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 71px;
}

header .navbar-brand {
  width: 90px;
}
header .navbar-brand h1 {
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
header .navbar-brand img {
  width: 24px;
  height: 24px;
}
header .navbar-brand p {
  font-size: 11px;
  color: #fac564;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 4px;
}
header .nav-link:hover {
  color: #fac564;
}
header li {
  min-width: 85px;
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
}

.carousel #slide1,
.carousel #slide2 {
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bg_1.jpg);
  background-size: cover;
}
.carousel #slide3 {
  min-height: 691px;
  max-height: 706px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bg_3.jpg);
  background-size: cover;
}
.carousel #slide3 .row {
  margin-top: 15rem;
}
.carousel p:first-of-type {
  font-family: "Nothing You Could Do", cursive;
  color: #fac564;
  font-size: 1.5em;
}
.carousel h5 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.carousel p:last-of-type {
  font-family: "Poppins", sans-serif;
  color: white;
}
.carousel .button {
  cursor: pointer;
  width: 120px;
  height: 55px;
  font-size: 0.82em;
  font-style: "Poppins", sans-serif;
  border: 1px solid;
}
.carousel .button__order {
  background-color: #fac564;
  color: black;
  border-color: #fac564;
  transition: 0.5s;
}
.carousel .button__order:hover {
  background-color: transparent;
  color: #fac564;
}
.carousel .button__view {
  background-color: transparent;
  color: white;
  border-color: white;
  transition: 0.5s;
}
.carousel .button__view:hover {
  background-color: #fac564;
  color: black;
  border-color: #fac564;
}
.carousel #slide2 .row {
  flex-direction: row-reverse;
}

.benefits {
  min-height: 230px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg_2.jpg);
  background-size: cover;
}
.benefits .benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits .benefit-box {
  margin-top: 65px;
  width: 60px;
  height: 60px;
  border: 2px solid #fac564;
  padding: 12px;
}
.benefits .benefits_item__number {
  color: #fac564;
  font-size: 1.9rem;
  font-style: "Poppins", sans-serif;
}
.benefits .benefits_item__description {
  color: #808080;
  font-size: 0.88rem;
  font-style: "Poppins", sans-serif;
}

.homepage_menu {
  min-height: 600px !important;
  background: url(../images/bg_4.jpg);
  background-size: cover;
}
.homepage_menu .test {
  border: 2px dashed blue;
}
.homepage_menu button {
  cursor: pointer;
  width: auto;
  height: 55px;
  font-size: 1.12em;
  font-style: "Poppins", sans-serif;
  border: 1px solid #fac564;
  background-color: transparent;
  color: #fac564;
  padding: 10px;
}
.homepage_menu button:hover {
  color: black;
  background-color: #fac564;
}

/*# sourceMappingURL=main.css.map */
