* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 71px;
  background-image: url(../images/bg_4.jpg);
  background-size: cover;
  background-attachment: fixed;
}

li {
  list-style: none;
}

header .navbar-brand {
  width: 90px;
}
header .navbar-brand h1 {
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
header .navbar-brand img {
  width: 24px;
  height: 24px;
}
header .navbar-brand p {
  font-size: 11px;
  color: #fac564;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 4px;
}
header .nav-link:hover {
  color: #fac564;
}
header li {
  min-width: 85px;
  font-family: "Poppins", sans-serif;
  font-size: 0.875em;
}

.carousel #slide1,
.carousel #slide2 {
  min-height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bg_1.jpg);
  background-size: cover;
}
.carousel #slide3 {
  min-height: 691px;
  max-height: 706px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bg_3.jpg);
  background-size: cover;
}
.carousel #slide3 .row {
  margin-top: 15rem;
}
.carousel p:first-of-type {
  font-family: "Nothing You Could Do", cursive;
  color: #fac564;
  font-size: 1.5em;
}
.carousel h5 {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.carousel p:last-of-type {
  font-family: "Poppins", sans-serif;
  color: white;
}
.carousel .button {
  cursor: pointer;
  width: 120px;
  height: 55px;
  font-size: 0.82em;
  font-style: "Poppins", sans-serif;
  border: 1px solid;
}
.carousel .button__order {
  background-color: #fac564;
  color: black;
  border-color: #fac564;
  transition: 0.5s;
}
.carousel .button__order:hover {
  background-color: transparent;
  color: #fac564;
}
.carousel .button__view {
  background-color: transparent;
  color: white;
  border-color: white;
  transition: 0.5s;
}
.carousel .button__view:hover {
  background-color: #fac564;
  color: black;
  border-color: #fac564;
}
.carousel #slide2 .row {
  flex-direction: row-reverse;
}

.benefits {
  min-height: 230px !important;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/bg_2.jpg);
  background-size: cover;
}
.benefits .benefits__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits .benefit-box {
  margin-top: 65px;
  width: 60px;
  height: 60px;
  border: 2px solid #fac564;
  padding: 12px;
}
.benefits .benefits_item__number {
  color: #fac564;
  font-size: 1.9rem;
  font-style: "Poppins", sans-serif;
}
.benefits .benefits_item__description {
  color: #808080;
  font-size: 0.88rem;
  font-style: "Poppins", sans-serif;
}

.homepage_menu {
  min-height: 600px !important;
}
.homepage_menu .homepage_menu__img {
  min-height: 300px;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center center;
}
.homepage_menu button {
  cursor: pointer;
  width: auto;
  height: 55px;
  font-size: 1.12em;
  font-style: "Poppins", sans-serif;
  border: 1px solid #fac564;
  background-color: transparent;
  color: #fac564;
  padding: 10px;
}
.homepage_menu button:hover {
  color: black;
  background-color: #fac564;
}
.homepage_menu .homepage_menu__item {
  justify-items: center;
}
.homepage_menu .homepage_menu__item img {
  width: 70%;
  border-radius: 50%;
}
.homepage_menu .homepage_menu__item h5 {
  font-size: 1.4em;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.homepage_menu .homepage_menu__item .home_menu__item__description {
  color: #808080;
  font-family: "Poppins", sans-serif;
}
.homepage_menu .homepage_menu__item .home_menu__item__price {
  color: #fac564;
  font-family: "Poppins", sans-serif;
}
.homepage_menu .homepage_menu__item button {
  width: 100px;
  height: 35px;
  color: white;
  border-color: white;
  font-size: 0.81em;
  margin-bottom: 20px;
}
.homepage_menu .homepage_menu__item button:hover {
  color: black;
  border-color: #fac564;
  background-color: #fac564;
}

footer {
  background-color: black;
  min-height: 300px;
  padding: 100px 0;
  color: #808080;
}
footer h6 {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 40px;
  color: white;
}
footer .social div {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  background-color: rgb(77, 77, 77);
  border-radius: 50%;
}
footer .social img {
  width: 60%;
}
footer .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
footer .footer__blog__item {
  height: auto;
}
footer .footer__blog__item p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: white;
}
footer .footer__blog__item img {
  object-fit: contain;
  margin-right: 20px;
}
footer .footer__blog__item li {
  font-size: 0.75em;
}
footer .footer__blog__item li img {
  width: 11px;
  margin-right: 5px;
  font-style: "Poppins", sans-serif;
}
footer .footer__questions li {
  display: flex;
}
footer .footer__questions li img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  margin-top: 5px;
}

.menu__title {
  width: 50%;
  margin: 80px auto;
}
.menu__title h1 {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.9em;
  margin-bottom: 25px;
}
.menu__title p {
  color: #808080;
  font-family: "Poppins", sans-serif;
}

.menu__gallery h2 {
  font-size: 1.3em;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.menu__gallery p {
  color: #808080;
}
.menu__gallery .price {
  color: #fac564;
}
.menu__gallery button {
  width: 60px;
  height: 35px;
  color: white;
  border: 1px solid white;
  font-size: 0.81em;
  margin-bottom: 20px;
  background-color: transparent;
}
.menu__gallery button:hover {
  color: black;
  border-color: #fac564;
  background-color: #fac564;
}

/*# sourceMappingURL=main.css.map */
