$josefin: 'Josefin Sans',
sans-serif;
$nothing: 'Nothing You Could Do',
cursive;
// $poppins: 'Poppins',
// sans-serif;
$orange: #fac564;
$grey: #808080;
$brown: #5c3d03;



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 71px;
    background-image: url(../images/bg_4.jpg);
    background-size: cover;
    background-attachment: fixed;
}

li {
    list-style: none;
}

@import 'header';
@import 'carousel';
@import 'benefits';
@import 'homepage_menu';
@import 'footer';
@import 'menu';
@import 'services';
@import 'blog';
@import 'about';
@import 'contact';